
<!-- VERTICAL MENU -->
<nav class="navbar navbar-default sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand  toggle-btn" href="#">LABTI - INTEC</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a onclick="location.href='/admin/home'">Dashboard</a></li>
        <li ><a onclick="location.href='/admin/perfil'">Perfil</a></li>
        <li class="active"><a onclick="location.href='/app/fd401'">FD-401</a></li>
        <li ><a onclick="location.href='/admin/fd402'">FD-402</a></li>
        <li ><a onclick="location.href='/admin/fd403'">FD-403</a></li>
        <li ><a onclick="location.href='/admin/fd404'">FD-404</a></li>
        <li ><a onclick="location.href='/admin/fd405'">FD-405</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- END VERTICAL MENU-->
<div class="main">

  <!-- Content Here -->
  <div class="page-header" align="center">
    <h1><small>FD401</small></h1>
  </div>
  <div class="container content">
    <div class="opcion">
      <hr>
      <span class="op-title">Cantidad de computadoras: <!-- Get info from data base --> <span id="cant_pcs">20</span><button type="button" class="btn btn-primary btn-xs">Editar</button></span>
      <hr>
    </div>
    <div class="opcion">
      <hr>
      <div class="group"><span class="op-title">Actividades: <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-primary btn-xs"><b>+</b></button></span></div>
      <hr class="myLine" size="5">

      <!-- Media objects -->
      <% @subjects.each do |s| %>
          <% if s.aula === "FD401" %>
            <div class="media" id="atv<%= s.id %>">
              <div class="media-left">
                <a href="" class="deleteAtv" id="<%= s.id %>">
                  -
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%= s.name %></h4>
                Dias: <%= s.days %><br>
                Horario: <%= s.horai %> | <%= s.horaf %><br>
                Profesor: <%= s.teacher %><br>
              </div>
            </div>
            <hr>
          <% end %>
      <% end %>
      <!-- En media objects -->

    </div>

  </div>




</div><!-- End main div  -->


<!-- Scripting -->
<script type="text/javascript">
  $(".addAtv").hide();

  $(".deleteAtv").click(function(){
      deleteAtv(this);
  });

  function showAtvForm(){
      $(".addAtv").show();


  }
  function deleteAtv(env){
      if (confirm("¿Estás seguro que quieres eliminar esta asignatura?") === true) {
          let this_id = parseInt(env.id);
          let ex = true;

          //alert("ID: " + this_id.toString());

          $.ajax({
              url:'/admin/removeAtv',
              type:'get',
              dataType:'json',
              data: {id: this_id},
              success: function(data){
                  let div_id = "#atv" + this_id;
                  $(div_id).remove();
              },
              error: function (xhr, ajaxOptions, thrownError) {
                  //alert(xhr.status);
                  //alert(thrownError);
                  ex = false;
              }
          });


      } else {

      }
  }
</script>