<div class="page-header" align="center">
  <h1>LABTI <small>- Laboratorios TI</small></h1>
</div>
<!-- Cursos del LAB TI -->
<div class="container">
  <div class="list-group">
    <button type="button" class="list-group-item" onclick="show('401')">FD-401</button>
    <div class="list-group-item room" id="fd401">
      <div class="table-responsive">
        <table class="table table-bordered" id="table401">
          <col width="50">
          <col width="100">
          <col width="100">
          <col width="100">
          <col width="100">
          <col width="100">
          <col width="100">
          <tr>
            <th>H</th>
            <th>Lun</th>
            <th>Mar</th>
            <th>Mie</th>
            <th>Jue</th>
            <th>Vie</th>
            <th>Sab</th>
          </tr>
        </table>
      </div>
    </div>
    <button type="button" class="list-group-item" onclick="show('402')">FD-402</button>
    <div class="list-group-item room" id="fd402">
      <div class="table-responsive">
        <table class="table table-bordered" id="table402">
          <col width="50">
          <col width="100">
          <col width="100">
          <col width="100">
          <col width="100">
          <col width="100">
          <col width="100">
          <tr>
            <th>H</th>
            <th>Lun</th>
            <th>Mar</th>
            <th>Mie</th>
            <th>Jue</th>
            <th>Vie</th>
            <th>Sab</th>
          </tr>
        </table>
      </div>
    </div>
    <button type="button" class="list-group-item" onclick="show('403')">FD-403</button>
    <div class="list-group-item room" id="fd403">
      Info 403...
    </div>
    <button type="button" class="list-group-item" onclick="show('404')">FD-404</button>
    <div class="list-group-item room" id="fd404">
      Info 404...
    </div>
    <button type="button" class="list-group-item" onclick="show('405')">FD-405</button>
    <div class="list-group-item room" id="fd405">
      Info 405...
    </div>
    <button type="button" class="list-group-item" onclick="show('411')">FD-411</button>
    <div class="list-group-item room" id="fd411">
      Info 411...
    </div>
    <button type="button" class="list-group-item" onclick="show('412')">FD-412</button>
    <div class="list-group-item room" id="fd412">
      Info 412...
    </div>
    <button type="button" class="list-group-item" onclick="show('413')">FD-413</button>
    <div class="list-group-item room" id="fd413">
      Info 413...
    </div>
    <button type="button" class="list-group-item" onclick="show('414')">FD-414</button>
    <div class="list-group-item room" id="fd414">
      Info 414...
    </div>
    <button type="button" class="list-group-item" onclick="show('415')">FD-415</button>
    <div class="list-group-item room" id="fd415">
      Info 415...
    </div>
  </div>
</div>
<!-- Scripting -->
<script type="text/javascript">
  $(".room").hide();
  $(function () {
      $('[data-toggle="popover"]').popover()
  });
  class Subject{
      constructor(name, horai, horaf, teacher, aula, days){
          this.name= name;
          this.horai = horai;
          this.horaf = horaf;
          this.teacher = teacher;
          this.aula = aula;
          this.days = days;
      }
      getName(){return this.name;}
      getHorai(){return this.horai;}
      getHoraf(){return this.horaf;}
      getAula(){return this.aula;}
      getTeacher(){return this.teacher;}
      getDays(){return this.days;}
  }

  let subs = [];

  <% @subjects.each do |s| %>
    subs.push(new Subject("<%= s.name %>", "<%= s.horai %>", "<%= s.horaf %>", "<%= s.teacher %>", "<%= s.aula %>", "<%= s.days %>"));
  <%end%>

  createSchedule(7, 22, subs, "401");
  createSchedule(7, 22, subs, "402");
  console.log(subs);

  function createSchedule(hi, hf, subjects, room){
      generateTable(room, hi, hf);
      let table = document.getElementById("table" + room); //table object
      if(hf > hi){
          let r = 1;
          for(let x = hi; x <= hf; x++){
              let rowCells = table.rows[r].cells;

              for(let i = 0; i < subjects.length; i++){

                  if(subjects[i].getAula() === ("fd" + room) && subjects[i].getHorai() === x.toString()){
                    //  console.log(subjects[i].getName() + " " + subjects[i].getAula());
                      //Add subject to schedule
                      let horas = subjects[i].getHoraf() - subjects[i].getHorai(); //duration
                      let strDays = subjects[i].getDays();
                      let tmpList = [];

                      let tmp = "";
                      for(let j = 0; j < strDays.length; j++){
                          let ch = strDays.charAt(j);
                          if(ch === '-'){
                              tmpList.push(tmp);
                              tmp = ""; //reset tmp
                          }else{
                              tmp = tmp + ch;
                          }
                      }

                      for(let j = 0; j < tmpList.length; j++){
                          let d;
                          switch (tmpList[j]){
                              case "Lun":
                                  d = 1;
                                  break;
                              case "Mar":
                                  d = 2;
                                  break;
                              case "Mie":
                                  d = 3;
                                  break;
                              case "Jue":
                                  d = 4;
                                  break;
                              case "Vie":
                                  d = 5;
                                  break;
                              case "Sab":
                                  d = 6;
                                  break;
                          }
                          rowCells[d].style.backgroundColor = "lightblue";
                          rowCells[d].rowSpan = horas;
                          rowCells[d].innerHTML = subjects[i].getName();
                          rowCells[d].style.color = "black";

                      }
                  }else { }
              }
              r++;
          }
      }else{
          console.log("ERORR! Hora final debe ser mayor a la hora inicial.");
      }
  }

  function generateTable(aula, hi, hf){
      let table = document.getElementById("table" + aula);
      let x = 1;
      for(let j = hi; j <= hf; j++){
          let row = table.insertRow(x);
          x++;
          row.insertCell(0).innerHTML = j;
          for(let i = 1; i < 7; i++){
              row.insertCell(i);
          }
      }
  }
  function show(aula){
      $("#fd" + aula).toggle('slow');
  }
</script>